<loading-screen loading="loading"></loading-screen>

<div sortable>
  <div layout="row" ng-if="!loading">
    <navbar model="Navbar"></navbar>
    <div flex></div>
    <ng-include src="'app/views/movies/_menu.html'"></ng-include>
  </div>
</div>

<div class="md-padding" layout="column">
  <div ng-repeat="yearGroup in yearGroups" layout="row">
    <div flex="20" ng-repeat="year in yearGroup" layout="column" class="video pointer" ng-click="visitYear(year)">
      <h2 class="center">
        {{year}}
      </h2>
    </div>
  </div>
</div>