<md-content class="md-padding remote-control" layout="row">

  <div layout="column" flex="10">
    <ng-md-icon size="32" class="pointer" icon="refresh" ng-click="refresh()" title="Re-scan libray"></ng-md-icon>
    <ng-md-icon size="32" class="pointer" icon="clear" ng-click="clean()"></ng-md-icon>
    <ng-md-icon size="32" class="pointer" icon="info_outline" ng-click="info()"></ng-md-icon>
    <ng-md-icon size="32" class="pointer" icon="menu" ng-click="contextMenu()"></ng-md-icon>    
    <ng-md-icon size="32" class="pointer" icon="home" ng-click="home()"></ng-md-icon>
  </div>

  <div layout="column" flex="66">
    <div layout="row">
      <div flex="33" class="cell">
        <ng-md-icon size="48" class="pointer" icon="arrow_back" ng-click="back()"></ng-md-icon>
      </div>
      <div flex="33" class="cell">
        <ng-md-icon size="96" class="pointer" icon="expand_less" ng-click="up()"></ng-md-icon>
      </div>
      <div flex="33" class="cell">
      </div>
    </div>

    <div layout="row">
      <div flex="33" class="cell">
        <ng-md-icon size="96" class="pointer" icon="chevron_left" ng-click="left()"></ng-md-icon>
      </div>
      <div flex="33" class="cell">
        <ng-md-icon size="48" class="pointer" icon="keyboard_return" ng-click="enter()"></ng-md-icon>
      </div>
      <div flex="33" class="cell">
        <ng-md-icon size="96" class="pointer" icon="chevron_right" ng-click="right()"></ng-md-icon>
      </div>
    </div>

    <div layout="row">
      <div flex="33" class="cell">
      </div>
      <div flex="33" class="cell">
        <ng-md-icon size="96" class="pointer" icon="expand_more" ng-click="down()"></ng-md-icon>
      </div>
      <div flex="33" class="cell">
      </div>
    </div>
  </div>

</md-content>