<md-content class="md-padding remote-control">

  <table>
    <tbody>
      <tr>
        <td><ng-md-icon size="32" class="pointer" icon="refresh" ng-click="refresh()" title="Re-scan libray"></ng-md-icon></td>
        <td><ng-md-icon size="96" class="pointer" icon="expand_less" ng-click="up()"></ng-md-icon></td>
        <td><ng-md-icon size="32" class="pointer" icon="more_vert" ng-click="info()"></ng-md-icon></td>
      </tr>
      <tr>
        <td><ng-md-icon size="96" class="pointer" icon="chevron_left" ng-click="left()"></ng-md-icon></td>
        <td><ng-md-icon size="32" class="pointer" icon="keyboard_return" ng-click="enter()"></ng-md-icon></td>
        <td><ng-md-icon size="96" class="pointer" icon="chevron_right" ng-click="right()"></ng-md-icon></td>
      </tr>
      <tr>
        <td><ng-md-icon size="24" class="pointer" icon="arrow_back" ng-click="back()"></ng-md-icon></td>
        <td><ng-md-icon size="96" class="pointer" icon="expand_more" ng-click="down()"></ng-md-icon></td>
        <td><ng-md-icon size="24" class="pointer" icon="home" ng-click="home()"></ng-md-icon></td>
      </tr>
    </tbody>
  </table>

</md-content>