<div class="md-padding" layout="column">
  <div ng-repeat="movieGroup in movieGroups" layout="row">    
    <div flex="50" ng-repeat="movie in movieGroup" layout="column" layout-align="space-around center" class="video pointer" ng-click="visitMovie(movie.movieid)" ng-mouseover="showPlayButton($event)" ng-mouseout="hidePlayButton($event)" video-buttons-events>
      <video-buttons video="movie" visible="visible"></video-buttons>
      <md-slider ng-if="movie.resume.position > 0" min="0" max="100" ng-model="movie.resume.percentage" aria-label="percentage watched" class="md-primary video-position"></md-slider>

      <h2 class="center movie-title movie">
        <watched-it model="movie"></watched-it>
        {{movie.title}}
      </h2>
      <h5 class="year-rating">
        {{movie.year}}
        <ng-md-icon icon="star" size="14" style="fill: rgba(33,150,243,0.5);"></ng-md-icon>
        {{movie.rating | number : 1}}
      </h5>
    </div>
  </div>
</div>