<div class="md-padding" layout="column">
  <div ng-repeat="movieGroup in movieGroups" layout="row">    
    <div flex="50" ng-repeat="movie in movieGroup" layout="column" class="video pointer" ng-click="visitMovie(movie.movieid)" ng-mouseover="showPlayButton($event)" ng-mouseout="hidePlayButton($event)" video-buttons-events>
      <video-buttons video="movie" visible="visible"></video-buttons>

      <h2 class="center">
        <watched-it model="movie"></watched-it>
        {{movie.title}}
      </h2>
      <h5 class="center">
        {{movie.year}}
        <ng-md-icon icon="star" size="8" style="fill: rgba(33,150,243,0.5);"></ng-md-icon>
        {{movie.rating | number : 1}}
      </h5>
    </div>
  </div>
</div>