<div auto-scroll>
  <md-subheader class="md-primary md-padding">
    Movies
  </md-subheader>

  <md-list class="md-padding">
    <md-list-item ng-repeat="movie in list" 
                  ng-click="visitDetails(movie.movieid)"
                  class="md-2-line pointer movie">
      <avatar-image avatar="movie.art.poster" class="episode-avatar md-avatar"></avatar-image>
      <div class="md-list-item-text">
        <h3>          
          {{movie.label}} ({{movie.year}})
          <watched-it model="movie"></watched-it>          
        </h3>
        <div class="second-line">
          <show-rating rating="movie.rating"></show-rating>
          <span class="runtime">{{movie.runtime | secondsToDateTime | date:'HH:mm:ss'}}</span>
          <span class="genre" ng-repeat="genre in movie.genre">{{genre}}</span>
        </div>
        <h4>{{movie.tagline}}</h4>
        <div class="plot">
          {{movie.plot}}
        </div>
        <div>
          <md-button class="md-primary md-raised play-button" ng-click="play(movie); $event.stopPropagation();" aria-label="Play movie">
            <ng-md-icon icon="play_arrow" style="fill: white;"></ng-md-icon>             
            Play
          </md-button>
          <!-- <md-button class="md-icon-button play-button" ng-click="download(movie)" aria-label="Download movie">
            <ng-md-icon icon="file_download"></ng-md-icon>             
          </md-button> -->          
        </div>   
      </div>
    </md-list-item>
  </md-list>
</div>  