<loading-screen loading="loading"></loading-screen>

<div ng-if="!loading">
  <navbar model="Navbar"></navbar>

  <div class="md-padding">
    <div layout="row">
      <div layout="column" flex="75">
        <h3>{{movie.tagline}}</h3>
        <div style="padding-bottom: 16px;">
          <span class="genre pointer" ng-repeat="genre in movie.genre" ng-click="visitGenre('movies', genre); $event.stopPropagation();">{{genre}}</span>
        </div>
      </div>
      <div flex="25">
        <rating size="big" rating="movie.rating"></rating>  
        <a class="md-button md-raised" href="{{filePath}}">Link</a>
      </div>
    </div>

    <div layout="row">
      <div flex="50">
        <img src="{{movie.thumbnail.url}}" class="video-avatar" ng-if="movie.thumbnail.isSet" />
        <empty-avatar ng-if="!movie.thumbnail.isSet"></empty-avatar>
      </div>
      <div class="plot" flex>
        <div>{{movie.plot}}</div>
        <span ng-if="movie.runtime">Runtime: {{movie.runtime | secondsToDateTime | date:'HH:mm:ss'}}</span>
      </div>
    </div>    
  </div>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Overview">

      <md-list>
        <md-list-item>
          <div class="md-list-item-text">
            <h4>Director</h4>
            <p>{{movie.director.join(', ')}}</p>
          </div>
        </md-list-item>

        <md-list-item>
          <div class="md-list-item-text">
            <h4>Writer</h4>
            <p>{{movie.writer.join(', ')}}</p>
          </div>
        </md-list-item>

        <md-list-item>
          <div class="md-list-item-text">
            <h4>Studio</h4>
            <p>{{movie.studio.join(', ')}}</p>
          </div>
        </md-list-item>

        <md-list-item>
          <div class="md-list-item-text">
            <h4>MPAA Rating</h4>
            <p>{{movie.mpaa}}</p>
          </div>
        </md-list-item>
      </md-list>

    </md-tab>

    <md-tab label="Cast">

      <cast-members video="movie"></cast-members>

    </md-tab>
  </md-tabs>
</div>