<loading-screen loading="loading"></loading-screen>

<md-subheader class="md-primary">
  Movies > {{movie.label}}
</md-subheader>

<md-list ng-if="!loading" class="md-padding">
  <md-subheader class="md-primary">Details</md-subheader>

  <md-list-item>
    <div class="md-list-item-text">
      <h4>Director</h4>
      <p>{{movie.director.join(', ')}}</p>
    </div>
  </md-list-item>

  <md-list-item>
    <div class="md-list-item-text">
      <h4>Writer</h4>
      <p>{{movie.writer.join(', ')}}</p>
    </div>
  </md-list-item>

  <md-list-item>
    <div class="md-list-item-text">
      <h4>Studio</h4>
      <p>{{movie.studio.join(', ')}}</p>
    </div>
  </md-list-item>

  <md-list-item>
    <div class="md-list-item-text">
      <h4>MPAA Rating</h4>
      <p>{{movie.mpaa}}</p>
    </div>
  </md-list-item>

  <div ng-if="movie.cast.length > 0">
    <md-subheader class="md-primary">Cast ({{movie.cast.length}})</md-subheader>

    <md-list-item ng-repeat="castMember in movie.cast" class="md-3-line cast">
      <avatar-image ng-if="castMember.thumbnail" avatar="castMember.thumbnail"></avatar-image>
      <circle-avatar ng-if="!castMember.thumbnail" label="castMember.name"></circle-avatar>
      <div class="md-list-item-text">
        <h3>{{castMember.name}}</h3>
        <h4>{{castMember.role}}</h4>
        <p>
          <a ng-href="http://www.imdb.com/find?s=nm&q={{castMember.name}}" target="_blank">
            <ng-md-icon icon="movie" size="12"></ng-md-icon>
            IMDB
          </a>
        </p>
      </div>
    </md-list-item>
  </div>

</md-list>