<loading-screen loading="loading"></loading-screen>

<navbar model="Navbar"></navbar>

<div class="md-padding">
  <h3>{{movie.tagline}}</h3>
  <div>
    <span class="genre" ng-repeat="genre in movie.genre">{{genre}}</span>
    {{movie.runtime | secondsToDateTime | date:'HH:mm:ss'}}
  </div>
  <div layout="row">
    <p class="plot" flex>{{movie.plot}}</p>
    <rating flex="25" size="big" rating="movie.rating"></rating>
  </div>    
</div>

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Overview">

    <md-list>
      <md-list-item>
        <div class="md-list-item-text">
          <h4>Plot</h4>
          <p>{{movie.plot}}</p>
        </div>
      </md-list-item>
      
      <md-list-item>
        <div class="md-list-item-text">
          <h4>Director</h4>
          <p>{{movie.director.join(', ')}}</p>
        </div>
      </md-list-item>

      <md-list-item>
        <div class="md-list-item-text">
          <h4>Writer</h4>
          <p>{{movie.writer.join(', ')}}</p>
        </div>
      </md-list-item>

      <md-list-item>
        <div class="md-list-item-text">
          <h4>Studio</h4>
          <p>{{movie.studio.join(', ')}}</p>
        </div>
      </md-list-item>

      <md-list-item>
        <div class="md-list-item-text">
          <h4>MPAA Rating</h4>
          <p>{{movie.mpaa}}</p>
        </div>
      </md-list-item>
    </md-list>

  </md-tab>

  <md-tab label="Cast">

    <md-list>
      <md-list-item ng-repeat="castMember in movie.cast" class="md-3-line cast">
        <avatar-image ng-if="castMember.thumbnail" avatar="castMember.thumbnail"></avatar-image>
        <circle-avatar ng-if="!castMember.thumbnail" label="castMember.name"></circle-avatar>
        <div class="md-list-item-text">
          <h3>{{castMember.name}}</h3>
          <h4>{{castMember.role}}</h4>
          <p>
            <a ng-href="http://www.imdb.com/find?s=nm&q={{castMember.name}}" target="_blank">
              <ng-md-icon icon="movie" size="12"></ng-md-icon>
              IMDB
            </a>
          </p>
        </div>
      </md-list-item>
    </md-list>

  </md-tab>
</md-tabs>


<!-- <div>
  <md-button class="md-primary md-raised play-button" ng-click="play(movie); $event.stopPropagation();" aria-label="Play movie">
    <ng-md-icon icon="play_arrow" style="fill: white;"></ng-md-icon>             
    Play
  </md-button>     
</div> -->