<div auto-scroll>
  <md-list class="md-padding">
    <md-list-item ng-repeat="tvShow in list" 
                  ng-click="visitSeasons(tvShow.tvshowid)"
                  class="md-2-line pointer">
      <avatar-image avatar="tvShow.art.poster" class="md-avatar"></avatar-image>
      <div class="md-list-item-text" layout="column">
        <h3>
          <show-rating rating="tvShow.rating"></show-rating>              
          {{tvShow.label}} ({{tvShow.year}})
          <watched-it model="tvShow"></watched-it>          
        </h3>
        <small>
          {{tvShow.plot}}
        </small>
      </div>
    </md-list-item>
  </md-list>
</div>  