<md-content class="md-padding">
  <md-subheader>Server Settings</md-subheader>

  <div layout="row">
    <md-input-container flex="65">
      <label>IP Address</label>
      <input type="text" ng-model="model.server.ipAddress" placeholder="1.2.3.4" />
    </md-input-container>

    <md-input-container flex>
      <label>Port</label>
      <input type="number" ng-model="model.server.port" placeholder="80" />
    </md-input-container>
  </div>
</md-content>

<md-content class="md-padding" layout="row">
  <div flex></div>
  <md-button class="md-primary md-raised save-button" ng-click="save()">
    <ng-md-icon icon="save" style="fill: white;"></ng-md-icon>
    Save
  </md-button>
</md-content>