<md-subheader class="md-primary">Server Settings</md-subheader>

<md-content class="md-padding">
  <div layout="row">
    <md-input-container flex="65">
      <label>IP Address</label>
      <input type="text" ng-model="model.server.ipAddress" placeholder="1.2.3.4" />
    </md-input-container>

    <md-input-container flex>
      <label>Port</label>
      <input type="number" ng-model="model.server.port" placeholder="80" />
    </md-input-container>
  </div>
  <div>
    <label>Requests</label>
    <md-radio-group ng-model="model.server.requestType" layout="row">
      <md-radio-button value="http" class="md-primary">HTTP</md-radio-button>
      <md-radio-button value="websocket" class="md-primary">Websocket</md-radio-button>
    </md-radio-group>
  </div>
</md-content>

<md-content class="md-padding" layout="row">
  <div flex></div>
  <md-button class="md-primary md-raised save-button" ng-click="save()">
    <ng-md-icon icon="save" style="fill: white;"></ng-md-icon>
    Save
  </md-button>
</md-content>