<div class="hoverable-video-avatar" layout="column">
  <div layout="row" style="display: none;" flex="100" class="buttons">
    <md-button  class="md-primary md-raised md-icon-button md-fab-mini play-button video-avatar-play" 
                ng-click="play(); $event.stopPropagation();" 
                aria-label="Play">
      <ng-md-icon icon="play_arrow" style="fill: white;"></ng-md-icon>    
    </md-button>
    <md-button  class="md-primary md-raised md-icon-button md-fab-mini play-button video-avatar-play" 
                ng-click="addToPlaylist(); $event.stopPropagation();" 
                aria-label="Add to playlist">
      <ng-md-icon icon="playlist_add" style="fill: white;"></ng-md-icon>    
    </md-button>
  </div>
  <img src="{{video.thumbnail}}" class="video-avatar" ng-if="video.thumbnail" />
  <empty-avatar ng-if="!video.thumbnail"></empty-avatar>
</div>