<div class="hoverable-video-avatar" layout="column">  
  <div layout="column" ng-if="visible" class="buttons">
    <div>
      <md-button  class="md-primary md-raised md-icon-button md-fab-mini play-button video-avatar-play" 
                  ng-click="markAsWatched(); $event.stopPropagation();"                 
                  aria-label="Play"
                  >
        <ng-md-icon icon="check" style="fill: white;"></ng-md-icon>    
      </md-button>
      <md-button  class="md-primary md-raised md-icon-button md-fab-mini play-button video-avatar-play" 
                  ng-if="!addedToPlaylist"
                  ng-click="addToPlaylist($event); $event.stopPropagation();" 
                  aria-label="Add to playlist">
        <ng-md-icon icon="playlist_add" style="fill: white;"></ng-md-icon>
      </md-button>
      <ng-md-icon class="okay-icon play-button" ng-if="addedToPlaylist" icon="thumb_up" style="fill: rgba(0,200,0,0.75);"></ng-md-
      icon>    
    </div>
    <div flex></div>
    <md-button  class="md-primary md-raised md-icon-button md-fab-mini play-button video-avatar-play" 
                  ng-click="play(); $event.stopPropagation();"                 
                  aria-label="Play"
                  >
      <ng-md-icon icon="play_arrow" style="fill: white;"></ng-md-icon>    
    </md-button>
  </div>
  <img src="{{video.thumbnail.url}}" class="video-avatar" ng-if="video.thumbnail.isSet" />
  <empty-avatar ng-if="!video.thumbnail.isSet"></empty-avatar>
</div>