<loading-screen loading="loading"></loading-screen>

<navbar ng-if="!loading" model="Navbar"></navbar>

<div class="md-padding">
  <h4 layout="row">          
    <span class="genre pointer" ng-repeat="genre in tvShow.genre" ng-click="visitGenre('tvshows', genre); $event.stopPropagation();">{{genre}}</span>
    <rating rating="tvShow.rating"></rating>
  </h4>
  <p>
    {{tvShow.plot}}
  </p>
</div>

<div class="md-padding" layout="column">
  <div ng-repeat="seasonGroup in seasonGroups" layout="row">
    <div flex="50" ng-repeat="season in seasonGroup" layout="column" class="video pointer" ng-click="visitEpisodes(tvShow.tvshowid, season.seasonid)">
      <img src="{{season.thumbnail}}" class="video-avatar" ng-if="season.thumbnail" />
      <empty-avatar ng-if="!season.thumbnail"></empty-avatar>

      <h2 class="center">
        <watched-it model="season"></watched-it>
        Season {{season.season}}
      </h2>
      <h5 class="center">
        {{season.episode}}
        <ng-pluralize count="season.episode" when="{'1': 'Episode', 'other': 'Episodes'}"></ng-pluralize>
        -
        {{season.watchedepisodes}}
        <ng-pluralize count="season.watchedepisodes" when="{'1': 'Episode', 'other': 'Episodes'}"></ng-pluralize> Watched
      </h4>
    </div>
  </div>
</div>