<md-menu md-position-mode="target-right target" style="position: relative; top: 4px;">
  <md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
    <ng-md-icon icon="more_vert" size="24" style="fill: rgb(33,150,243);"></ng-md-icon>
  </md-button>
  <md-menu-content width="4">
    <md-menu-item ng-if="showArtists">
      <md-button aria-label="Sort by artist" class="navbar-menu-button" ng-click="sortByArtists()">
        <ng-md-icon icon="people_outline" style="fill: rgb(33,150,243);"></ng-md-icon>
        Artists
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="showAlbums">
      <md-button aria-label="Sort by album" class="navbar-menu-button" ng-click="sortByAlbums()">
        <ng-md-icon icon="album" style="fill: rgb(33,150,243);"></ng-md-icon>
        Albums
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="showGenre">
      <md-button aria-label="Sort by genre" class="navbar-menu-button" ng-click="sortByGenre('music')">
        <ng-md-icon icon="mood" style="fill: rgb(33,150,243);"></ng-md-icon>
        Genres
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="showRating">
      <md-button aria-label="Sort by rating" class="navbar-menu-button" ng-click="sortByRating('music')">
        <ng-md-icon icon="star_outline" style="fill: rgb(33,150,243);"></ng-md-icon>
        Rating
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="showRecentlyAdded">
      <md-button aria-label="Sort by recently added" class="navbar-menu-button" ng-click="sortByRecentlyAdded('music')">
        <ng-md-icon icon="my_library_add" style="fill: rgb(33,150,243);"></ng-md-icon>                
        Recently Added
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="showSortDirection">
      <md-button aria-label="Sorting" class="navbar-menu-button" ng-click="toggleSortDirection()">
        <ng-md-icon icon="{{sort.direction.icons[sort.direction.current]}}" style="fill: rgb(33,150,243);"></ng-md-icon>
        Sort {{sort.direction.labels[sort.direction.current]}}
      </md-button>
    </md-menu-item>    
  </md-menu-content>
</md-menu>