html, body { width: 500px; }
.pointer, a:hover { cursor: pointer; }

.content { padding: 20px; }   
.error { color: red; }
.md-padding { padding: 16px; }

/*----- avatars -----*/
.circle-avatar { background: #2196F3; color: white; }
.circle-avatar span { position: relative; top: 12px; left: 12px;}
/*.episode-avatar { min-width: 40px; min-height: 40px; }*/

/*----- icon buttons -----*/
.play-button svg,
.stop-button svg,
.rew-button svg,
.pause-button svg,
.tvshow-button svg,
.movie-button svg,
.settings-button svg,
.remote-button svg,
.music-button svg,
.search-button svg,
.save-button svg,
.ffw-button svg { position: relative; top: 8px; }
.sort-button { text-transform: none !important; color: rgb(33,150,243); }
.sort-button svg { position: relative; top: 2px; }

/*----- topbar -----*/
#topbar #search { padding-bottom: 4px; }
#topbar #search .md-placeholder { top: -18px; }
#topbar #search input { color: white; border-color: white; }
#topbar #search .md-placeholder { color: white; }
  
/*----- content -----*/
#top { position: fixed; width: 100%; z-index: 2; }
#middle { position: absolute; top: 64px; width: 100%; }
#middle.playing-now-visible { position: absolute; top: 224px; }


/*----- md list -----*/
.md-list-item-text h4 { line-height: 0.95em !important; white-space: inherit !important; text-align: justify; }
md-list-item:not(:last-child) { padding-bottom: 8px !important; border-bottom: 1px solid rgba(33, 150, 243, 0.12); margin-bottom: 8px !important; }

/*----- playing now -----*/
#playing-now { background: rgb(33,150,243); width: 100%; color: white; }

#playing-now #progress md-slider { cursor: pointer; }
#playing-now #progress md-slider .md-thumb { display: none; }
#playing-now #progress md-slider .md-track-container { height: 8px; }

#playing-now #progress #time { padding-top: 8px; height: 14px; position: relative; bottom: 12px; }
#playing-now #progress #time #elapsed { padding-left: 4px; }
#playing-now #progress #time #remaining { padding-right: 4px; }

#playing-now #info-details { text-align: center; }
#playing-now #info-details h1,
#playing-now #info-details h3 { padding: 0; margin: 0; }

/*----- remote control -----*/

.remote-control .cell { margin: auto 0; text-align: center; }
    

/*----- tv shows / movies -----*/    
.runtime { font-size: 8pt !important; color: grey; }
.cast a { text-decoration: none; color: black; }
.second-line,
.third-line { font-size: 7pt !important; text-align: justify; }
.second-line { padding-top: 8px; padding-bottom: 8px; }

.genre { 
  padding-left: 4px; 
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgba(33,150,243,0.5);
  margin-right: 4px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
}
.genre:hover { background: rgba(33,150,243,1); }



img.video-avatar { width: 175px; }
.tvshow { padding-bottom: 24px; }
.tvshow img.video-avatar { margin-left: auto; margin-right: auto; }
.tvshow h2, .tvshow h5 { padding: 0; margin: 0; }
.tvshow h2 { color: rgba(33,150,243,1); }
.tvshow h5 { color: rgba(33,150,243,0.5); }

.center { text-align: center; }


.rating { color: rgba(33,150,243,1); font-size: 12pt; font-weight: normal; }
.rating.big { font-size: 24pt; }
.rating svg { position: relative; top: 2px; }
.rating.big svg { top: 4px; }

 .plot { text-align: justify; padding-right: 16px; }