body { width: 500px; }
.pointer, a:hover { cursor: pointer; }

.content { padding: 20px; }   
.error { color: red; }
.md-padding { padding: 16px; }

/*----- avatars -----*/
circle-avatar { background: #2196F3; color: white; }
circle-avatar .circle-avatar { position: relative; top: 12px; left: 12px;}
.episode-avatar { min-width: 40px; min-height: 40px; }

/*----- icon buttons -----*/
.play-button svg,
.stop-button svg,
.rew-button svg,
.pause-button svg,
.tv-button svg,
.movie-button svg,
.save-button svg,
.ffw-button svg { position: relative; top: 8px; }

/*----- topbar -----*/
#topbar #search { padding-bottom: 4px; }
#topbar #search .md-placeholder { top: -18px; }
#topbar #search input { color: white; border-color: white; }
#topbar #search .md-placeholder { color: white; }
  
/*----- content -----*/
#top { position: fixed; width: 100%; z-index: 2; }
#middle { position: absolute; top: 64px; width: 100%; }
#middle.remote-visible { position: absolute; top: 224px; }


/*----- md list -----*/
.md-list-item-text h4 { line-height: 0.95em !important; }


/*----- remote -----*/
#remote { background: rgb(33,150,243); width: 100%; color: white; }

#remote #progress md-slider { cursor: pointer; }
#remote #progress md-slider .md-thumb { display: none; }
#remote #progress md-slider .md-track-container { height: 8px; }

#remote #progress #time { padding-top: 8px; height: 14px; position: relative; bottom: 12px; }
#remote #progress #time #elapsed { padding-left: 4px; }
#remote #progress #time #remaining { padding-right: 4px; }

#remote #info-details { text-align: center; }
#remote #info-details h1,
#remote #info-details h3 { padding: 0; margin: 0; }

.remote-control table { margin: 0 auto; }
.remote-control table td { text-align: center; }
    

 .runtime { font-size: 8pt; color: grey; }
 .cast a { text-decoration: none; color: black; }

 /*tv shows*/
 .tvshow .second-line,
 .tvshow .plot,
 .movie .second-line,
 .movie .plot,
 .tvshow-season .second-line,
 .tvshow-season-episode .second-line,
 .tvshow-season-episode .plot { font-size: 7pt; }
