<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="playlist">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Playlist</h1>
  </md-toolbar>
  <md-content ng-controller="PlaylistController" layout-padding>
    Something here

    <div layout="row">
      <div flex></div>
      <md-button ng-click="close()" class="md-primary close-button">
        <ng-md-icon icon="close" size="24" style="fill: rgba(33,150,243,1);"></ng-md-icon>
        Close
      </md-button>
    </div>
  </md-content>
</md-sidenav>