<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="playlist">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Playlist</h1>
  </md-toolbar>
  <md-content ng-controller="PlaylistController" layout-padding>
    <md-list>
      <md-list-item ng-repeat="item in items" class="pointer {{item.type == 'episode' ? 'md-3-line' : 'md-1-line'}}" ng-click="visitItem(item)">
        <avatar-image avatar="item.thumbnail" ng-if="item.thumbnail"></avatar-image>
        <circle-avatar avatar="item.title" ng-if="!item.thumbnail"></circle-avatar>
        <div class="md-list-item-text" ng-if="item.type == 'episode'">
          <h3>{{item.showtitle}}</h3>
          <h4>Season {{item.season}}, Episode {{item.episode}}</h4>
          <p>{{item.title}}</p>
        </div>
        <div class="md-list-item-text" ng-if="item.type == 'movie'">
          <h3>{{item.title}}</h3>
        </div>
      </md-list-item>
    </md-list>

    <div layout="row">
      <div flex></div>
      <md-button ng-click="close()" class="md-primary close-button">
        <ng-md-icon icon="close" size="24" style="fill: rgba(33,150,243,1);"></ng-md-icon>
        Close
      </md-button>
    </div>
  </md-content>
</md-sidenav>