<!DOCTYPE html>

<html>
  <head>
    <title>Kodi Remote</title>

    <base href="/">

    <script src="app/assets/javascripts/jquery/jquery-1.11.3.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-1.3.15.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-route-1.3.15.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-animate-1.3.15.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-aria-1.3.15.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-material-0.10.1.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-material-icons.min.js"></script>
    <script src="app/assets/javascripts/FileSaver.min.js"></script>

    <script src="app/assets/javascripts/build/app.js"></script>
    <script src="app/assets/javascripts/build/controllers.js"></script>
    <script src="app/assets/javascripts/build/services.js"></script>
    <script src="app/assets/javascripts/build/directives.js"></script>
    <script src="app/assets/javascripts/build/tvshows/controllers.js"></script>
    <script src="app/assets/javascripts/build/tvshows/services.js"></script>
    <script src="app/assets/javascripts/build/movies/controllers.js"></script>
    <script src="app/assets/javascripts/build/movies/services.js"></script>

    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/angular-material-0.10.1.min.css">
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/app.css">
  </head>
  <body ng-app="kodiRemote" ng-controller="AppController">

    <ng-include src="'app/views/topbar.html'"></ng-include>

    <md-content id="content" ng-class="{'remote-visible': remoteVisible}">      
      <div ng-if="!showSearch" ng-view></div>
      <ng-include src="'app/views/search-results.html'" ng-if="showSearch"></ng-include>      
    <md-content>

    <md-content>
      <ng-include src="'app/views/remote-control.html'" ng-if="remoteVisible"></ng-include>
    </md-content>

  </body>
</html>
