<!-- main panel -->
<md-content id="topbar">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <img flex="10" src="app/assets/images/app.png" style="height: 32px; padding-right: 5px;" />      
      
      <div flex id="title" ng-if="!showSearch">
        Kodi Remote
      </div>

      <md-input-container flex id="search" ng-if="showSearch">
        <input type="text" id="search-query" ng-model="search.query" ng-model-options="{debounce: 500}" ng-change="performSearch()" />
      </md-input-container>

      <div flex="25" layout="row">
        <md-button flex class="md-icon-button topbar-button" aria-label="TV Shows" ng-click="visit('/tvshows')">
          <ng-md-icon icon="tv" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button topbar-button" aria-label="Movies" ng-click="visit('/movies')">
          <ng-md-icon icon="movie" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button topbar-button" aria-label="Music" ng-click="visit('/music/albums')">
          <ng-md-icon icon="my_library_music" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
      </div>

      <md-menu md-position-mode="target-right target" >
        <md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <ng-md-icon icon="more_vert" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button class="topbar-menu-button" aria-label="Search" ng-click="toggleSearch()">
              <ng-md-icon icon="search"></ng-md-icon>
              Search
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button class="topbar-menu-button" aria-label="Remote Control" ng-click="visit('/remote')">
              <ng-md-icon icon="settings_remote"></ng-md-icon>                
              Remote Control
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button class="topbar-menu-button" aria-label="Settings" ng-click="openPlaylist()">
              <ng-md-icon icon="list"></ng-md-icon>
              Playlist
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button class="topbar-menu-button" aria-label="Settings" ng-click="visit('/settings')">
              <ng-md-icon icon="settings"></ng-md-icon>
              Settings
            </md-button>
          </md-menu-item>          
        </md-menu-content>
      </md-menu>
      
    </div>  
  </md-toolbar>
</md-content>