<!-- main panel -->
<md-content id="topbar">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <img flex="10" src="app/assets/images/app.png" style="height: 32px; padding-right: 5px;" />      
      
      <div flex id="title" ng-if="!showSearch">
        Kodi Remote
      </div>
      <md-input-container id="search" ng-if="showSearch">
        <input type="text" id="search-query" ng-model="search.query" ng-model-options="{debounce: 500}" ng-change="performSearch()" />
      </md-input-container>
      <div flex=45 layout="row">
        <md-button flex class="md-icon-button search-button" aria-label="Search" ng-click="toggleSearch()">
          <ng-md-icon icon="search" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button tvshow-button" aria-label="TV Shows" ng-click="visit('/tvshows')">
          <ng-md-icon icon="tv" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button movie-button" aria-label="Movies" ng-click="visit('/movies')">
          <ng-md-icon icon="movie" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button remote-button" aria-label="Remote Control" ng-click="visit('/remote')">
          <ng-md-icon icon="settings_remote" size="24" style="fill: white;"></ng-md-icon>                
        </md-button>
        <!-- <md-button flex class="md-icon-button music-button" aria-label="Music" ng-click="visit('/music/albums')">
          <ng-md-icon icon="album" size="24" style="fill: white;"></ng-md-icon>                
        </md-button> -->
        <md-button flex class="md-icon-button settings-button" aria-label="Settings" ng-click="openPlaylist()">
          <ng-md-icon icon="list" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button settings-button" aria-label="Settings" ng-click="visit('/settings')">
          <ng-md-icon icon="settings" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
      </div>
    </div>  
  </md-toolbar>
</md-content>