<!-- main panel -->
<md-content id="topbar">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <img flex="10" src="app/assets/images/app.png" style="height: 32px; padding-right: 5px;" />
      <div flex id="title" ng-if="!showSearch">
        <span ng-if="Topbar.item.type == 'title'">{{Topbar.item.title}}</span>
        <span ng-if="Topbar.item.type == 'link'">
          <ng-md-icon icon="arrow_back" style="fill: white;" size="20" ng-click="visit(Topbar.item.url)" class="pointer"></ng-md-icon>
          <a ng-href="Topbar.item.url">{{Topbar.item.label}}</a>
        </span>
      </div>
      <md-input-container id="search" ng-if="showSearch">
        <input type="text" id="search-query" ng-model="search.query" ng-model-options="{debounce: 500}" ng-change="performSearch()" />
      </md-input-container>
      <div flex=40 layout="row">
        <md-button flex class="md-icon-button tv-button" aria-label="Search" ng-click="toggleSearch()">
          <ng-md-icon icon="search" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button movie-button" aria-label="Settings" ng-click="visit('/tvshows')">
          <ng-md-icon icon="tv" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button movie-button" aria-label="Settings" ng-click="visit('/movies')">
          <ng-md-icon icon="movie" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button flex class="md-icon-button movie-button" aria-label="Settings" ng-click="visit('/remote')">
          <ng-md-icon icon="settings_remote" size="24" style="fill: white;"></ng-md-icon>                
        </md-button>
        <md-button flex class="md-icon-button movie-button" aria-label="Settings" ng-click="visit('/settings')">
          <ng-md-icon icon="more_vert" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
      </div>
    </div>  
  </md-toolbar>
</md-content>