<loading-screen loading="loading"></loading-screen>

<navbar ng-if="!loading" model="Navbar"></navbar>

<div class="md-padding" layout="column">
  <div ng-repeat="episodeGroup in episodeGroups" layout="row">
    <div flex="50" ng-repeat="episode in episodeGroup" layout="column" class="tvshow pointer" ng-click="visitEpisode(episode.episodeid)">
      <img src="{{episode.thumbnail}}" class="video-avatar" />
      <h5 class="center">
        Episode {{episode.episode}} -
        {{episode.runtime | secondsToDateTime | date:'HH:mm:ss'}}
        
      </h5>
      <h2 class="center">
        <watched-it model="episode"></watched-it>        
        {{episode.title}}        
      </h2>
      <div class="center">
        <md-button class="md-primary md-raised play-button" ng-click="play(episode); $event.stopPropagation();" aria-label="Play episode">
          <ng-md-icon icon="play_arrow" style="fill: white;"></ng-md-icon>             
          Play
        </md-button>
      </div>
    </div>
  </div>
</div>