<loading-screen loading="loading"></loading-screen>

<md-subheader ng-if="!loading" class="md-primary">
  TV Shows > {{tvShowDetails.label}} > Season {{seasonNumber}}
</md-subheader>

<md-content ng-if="!loading">  
  <md-list class="md-padding">
    <md-list-item ng-repeat="episode in episodes" class="md-3-line">
      <avatar-image ng-if="episode.thumbnail" avatar="episode.thumbnail"></avatar-image>
      <circle-avatar ng-if="!episode.thumbnail" label="episode.title"></circle-avatar>
      <div class="md-list-item-text">
        <h3>          
          Episoede {{episode.episode}}: {{episode.title}}
          <watched-it model="episode"></watched-it>             
          <show-rating rating="episode.rating"></show-rating>
          <span class="runtime">{{episode.runtime | secondsToDateTime | date:'HH:mm:ss'}}</span>      
        </h3>
        <p class="second-line">
          {{episode.plot}}          
        </p>
        <p class="third-line">
          <md-button class="md-primary md-raised play-button" ng-click="play(episode)" aria-label="Play episode">
            <ng-md-icon icon="play_arrow" style="fill: white;"></ng-md-icon>             
            Play
          </md-button>
        </p>
      </div>
    </md-list-item>
  </md-list>
</show-rating>