<loading-screen loading="loading"></loading-screen>

<navbar model="Navbar"></navbar>

<div class="md-padding" layout="row">
  <div flex="40">
    <img src="{{episode.thumbnail}}" class="video-avatar" ng-if="episode.thumbnail" />
    <empty-avatar ng-if="!episode.thumbnail"></empty-avatar>
  </div>
  <div class="plot" flex>
    <div>{{episode.plot}}</div>
    <span ng-if="episode.runtime">Runtime: {{episode.runtime | secondsToDateTime | date:'HH:mm:ss'}}</span>
  </div>
  <rating flex="25" size="big" rating="episode.rating"></rating>  
</div>

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Details">
    <md-content class="md-padding">
      <md-list>

        <md-list-item ng-if="episode.director">
          <div class="md-list-item-text">
            <h4>Director</h4>
            <p>{{episode.director.join(', ')}}</p>
          </div>
        </md-list-item>

        <md-list-item ng-if="episode.writer">
          <div class="md-list-item-text">
            <h4>Writer</h4>
            <p>{{episode.writer.join(', ')}}</p>
          </div>
        </md-list-item>

        <md-list-item ng-if="episode.studio">
          <div class="md-list-item-text">
            <h4>Studio</h4>
            <p>{{episode.studio.join(', ')}}</p>
          </div>
        </md-list-item>

        <md-list-item ng-if="episode.mpaa">
          <div class="md-list-item-text">
            <h4>MPAA Rating</h4>
            <p>{{episode.mpaa}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-tab>

  <md-tab label="Cast">
    <cast-members video="episode"></cast-members>
  </md-tab>
</md-tabs>